<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :section %>
    <%= form.text_field :section %>
  </div>

  <div class="field">
    <%= form.label :questionnumber %>
    <%= form.number_field :questionnumber %>
  </div>

  <div class="field">
    <%= form.label :part %>
    <%= form.text_field :part %>
  </div>

  <div class="field">
    <%= form.label :subpart %>
    <%= form.text_field :subpart %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </div>

  <div class="field">
    <%= form.label :preamble %>
    <%= form.text_area :preamble %>
  </div>

  <div class="field">
    <%= form.label :questiontext %>
    <%= form.text_area :questiontext %>
  </div>

  <div class="field">
    <%= form.label :answertext %>
    <%= form.text_area :answertext %>
  </div>

  <div class="field">
    <%= form.label :teachingpoint %>
    <%= form.text_area :teachingpoint %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :questiontype %>
    <%= form.text_field :questiontype %>
  </div>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_field :topic %>
  </div>

  <div class="field">
    <%= form.label :subtopic %>
    <%= form.text_field :subtopic %>
  </div>

  <div class="field">
    <%= form.label :marks %>
    <%= form.number_field :marks %>
  </div>

  <div class="field">
    <%= form.label :curriculumref %>
    <%= form.text_field :curriculumref %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
